<td><%= label %>:</td>
<td>

<%
  var required = isRequired ? 'required' : '';

  switch(fieldType)
  {
    case 1:
%>
  <input type="text" name="<%= fieldName %>" placeholder="<%= label %>" class="<%= required %>" />
<%
      break;
      
    case 2:
%>
  <textarea name="<%= fieldName %>" class="field span8 <%= required %>" rows="5"></textarea>
<%
      break;
      
    case 3:
%>
  <select name="<%= fieldName %>" class="<%= required %>">
  <%
    values.forEach(function(value) {
  %>
    <option value="<%= value %>"><%= value %></option>
  <%
    });
  %>
  </select>
<%
      break;
      
    case 4:
%>
  <label class="radio inline control-label">
    <input type="radio" name="<%= fieldName %>" id="male" class="<%= required %>" />
    Male
  </label>
<%
      break;
      
    case 5:
      values.forEach(function(value) {
%>
  <label class="checkbox">
    <input type="checkbox" name="<%= fieldName %>" value="<%= value %>" class="<%= required %>" />
    <%= value %>
  </label>
<%
      });
      break;
  }
%>
  <br />

  <span class="help-block hidden"></span>
</td>