<% if(label.toLowerCase().indexOf('password') === -1) { %>
<td><%= label %>: <%= isRequired ? '<span style="color: #b94a48;">*</span>' : '' %></td>
<td>
<%
  var required = isRequired ? 'required' : '';

  switch(fieldType)
  {
    case 1:
%>
  <input type="text" name="<%= fieldName %>" placeholder="<%= label %>" class="<%= required %>" />
<%
      break;
      
    case 2:
%>
  <textarea name="<%= fieldName %>" class="field span8 <%= required %>" rows="5"></textarea>
<%
      break;
      
    case 3:
%>
  <select name="<%= fieldName %>" class="<%= required %>">
    <option value=""></option>
  <%
    values.forEach(function(value) {
  %>
    <option value="<%= value %>"><%= value %></option>
  <%
    });
  %>
  </select>
<%
      break;
      
    case 4:
      var i = 0;
      values.forEach(function(value) {
        if(value) {
%>
  <label class="radio inline control-label">
    <input type="radio" name="<%= fieldName %>" value="<%= value %>" class="<%= required %>" />
    <%= value %>
  </label>
<%
        }
      });
      break;
      
    case 5:
      var i = 0;
      values.forEach(function(value) {
        if(value) {
%>
  <label class="checkbox">
    <input type="checkbox" name="<%= fieldName %>[]" value="<%= value %>" class="<%= required %>" />
    <%= value %>
  </label>
<%
        }
      });
      break;
  }
%>
  <br />

  <span class="help-block"></span>
</td>
<% } %>